body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.converter input[type="number"],
.converter button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.currency-search {
    position: relative;
    display: flex;
    gap: 10px;
}

.currency-search input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dropdown {
    position: relative;
}

.dropdown button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px; /* Adjust the width as needed */
    max-height: 150px; /* Adjust the max height as needed */
    overflow-y: auto;
    display: none;
}

.dropdown-content div {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f0f0f0;
}

.converter button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.converter button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
